<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Universidad del Sur</h2>
            <h4>www.universidaddelsur.edu.mx</h4>
        </div>
        <img src="https://i.imgur.com/g8sPC7H.jpg" alt="Unisur">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Menu</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a> -->
     <!--<a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Alumnos</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        <h6>M.A.T.I. Juan Luis Uriel Rodríguez Peralta <br> 
            M.I.S. Adolfo Manuel de la Cruz García <br>
            M.S.C. Irahan Otoniel José Guzmán <br>
            M.C.C. José Alfredo Falconis Ballinas</h6>
        

    </a>

    <h2 matSubheader>Profesor</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        <h6>Dr. Gandhi Samuel Hernández Chan </h6>
        
    </a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>